extends ../layout
block title
	title #{C.TITLE}
block navbar
	include navbar

block init
	:js
		$$.on('window.ready.after',function(){});
block init_style
	:css
		::-webkit-scrollbar {
			width: 8px;
			border-radius: 3px;
			background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(202, 202, 202, 0.07)),color-stop(100%,rgba(229, 229, 229, 0.07)));
			background: -webkit-linear-gradient(left,rgba(202, 202, 202, 0.07) 0%,rgba(229, 229, 229, 0.07) 100%);
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset,0 1px 0 0 white;
			background-color: #D8D7DA;
		}
		::-webkit-scrollbar-thumb {
			overflow: visible;
			border-radius: 3px;
			border: solid 1px #A6A6A6;
			background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(233, 233, 233, 0.05)),color-stop(100%,rgba(221, 221, 221, 0.05)));
			background: -webkit-linear-gradient(left,rgba(233, 233, 233, 0.05) 0%,rgba(221, 221, 221, 0.05) 100%);
			box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .05);
			background-color: #B0AFB5;
		}
		::-webkit-scrollbar-button {
			height: 0;
			display: block;
		}


block main
	.container-fluid
		.row
			.col-md-2
				.list-group.panel
					a.list-group-item(onclick="$('#n1').collapse('toggle')") dsfdsfsd
					.collapse#n1
						form.navbar-form
							.form-group
								input.form-control(type="search" placeholder="חיפוש...")
						.list(style='max-height:200px;overflow-y:auto;')
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
							a.list-group-item dffdgdg
						
				
			.col-md-10
	
block dialogs
	#matle(role='dialog')

